html,body {
    height:100vh;  
    margin: 0 auto;
    padding-top: 00px;
    overflow: auto; 
  }

.navbar {
    background-color: #26266c;
    color: #d1e2e2;
}

#about_opening {
    min-height: 700px;
    height: 105%;
    background-image: url("../img/about_main.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    text-align: center;
    padding: 300px;
    margin-top: -05%;

}

.carousel-item {
    min-height: 400px;
    margin: auto;
    max-width: 70%;
}
#about_explination {
    min-height: 600px;
    height: 80%;
    background: linear-gradient(rgb(21, 3, 27), rgb(47, 32, 83));

}

#about_footer {
    min-height: 100px;
    height: 10%;
    background-color: #09091d;

}