html,body {
    height:100vh;  
    margin: 0 auto;
    padding-top: 00px;
    overflow: auto; 
  }

.navbar {
    background-color: #16163d;
}

#about_opening {
    height: 105%;
    background-image: url("../img/about_main.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    text-align: center;
    padding-top: 300px;
    margin-top: -05%;

}

.carousel-item {
    min-height: 400px;
    margin: auto;
    max-width: 70%;
}
#about_explination {
    height: 90%;
    background: linear-gradient(rgb(21, 3, 27), rgb(47, 32, 83));
    padding: 5%;
    padding-top: 8%;
}
#about_explination card {
    min-height: 20em;    
    margin: 3em;
    
}

#about_footer {
    height: 10%;
    background-color: #09091d;

}