html,body {
    height:100vh;  
    margin: 0 auto;
    padding-top: 00px;
    overflow: auto; 
  }

  .navbar {
    background-color: #16163d;
}

#index_title {
    margin-top: 5%;
    min-height: 1em;
}

#index_button {
    margin-top: 5%;
    min-height: 1em;
}

#index_button .btn {
    margin: 1em;
}

#collapseID {
    margin-top: 5rem;
}
#collapseID card {
    padding: 10rem;
}

#collapseNEW {
    margin-top: 5rem;
}

.dropdown-menu {
    height: 22rem;
    width: 15rem;
    overflow: scroll;
}

#menu2 {
    height: 15rem;
    max-width: 1rem;
    overflow: scroll;
}