html,body {
    height:100vh;  
    margin: 0 auto;
    padding-top: 00px;
    overflow: auto; 
  }

  .navbar {
    background-color: #16163d;
}

#index_title {
    margin-top: 5%;
    min-height: 1em;
}

#index_button {
    margin-top: 5%;
    min-height: 1em;
}

#index_button .btn {
    margin: 1em;
}